---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: grafana
      version: 10.3.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    replicas: 1
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_SECOND: "hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_MINUTE: "hh:mm a"
      GF_DATE_FORMATS_INTERVAL_HOUR: "DD/MM hh:mm a"
      GF_DATE_FORMATS_INTERVAL_DAY: "DD/MM"
      GF_DATE_FORMATS_INTERVAL_MONTH: "MM-YYYY"
      GF_DATE_FORMATS_INTERVAL_YEAR: "YYYY"
      VAR_BLOCKY_URL: "http://blocky.networking.svc.cluster.local:4000"
    adminPassword: "${SECRET_GRAFANA_PASSWORD}"
    grafana.ini:
      orgs:
        - id: 1
          name: Main Org.
        - id: 2
          name: k8s
      server:
        root_url: "https://grafana.${MAIN_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
        reporting_enabled: false
      log:
        mode: console
      date_formats:
        use_browser_locale: true
      grafana_net:
        url: https://grafana.net
      #auth:
      disable_login_form: false
      #oauth_auto_login: true
      auth.anonymous:
        enabled: false
        org_name: Main Org.
        org_role: Viewer
        hide_version: true
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            folder: "public"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: "k8s"
            folder: "k8s"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/k8s
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            isDefault: true
            url: http://prom-prometheus:9090/
          - name: InfluxDB
            type: influxdb
            access: proxy
            url: http://influxdb:8086/
            jsonData:
              organization: default
              tlsSkipVerify: true
    dashboards:
      default:
        snmp:
          url: https://raw.githubusercontent.com/attiolli/k3s-cluster/main/cluster/apps/monitoring/grafana/dashboards/snmp_exporter.json
          datasource: Prometheus
      k8s:
        #Ref: https://grafana.com/grafana/dashboards/2842
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/control-plane.json
          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
      - alexanderzobnin-zabbix-app
    serviceMonitor:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - "grafana.${MAIN_DOMAIN}"
      tls:
        - hosts:
            - "grafana.${MAIN_DOMAIN}"
    serviceAccount:
      create: true
      autoMount: true
    persistence:
      enabled: false
