---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - ocirepository.yaml
configMapGenerator:
  - name: alloy-configmap
    files:
      - ./resources/config.alloy
    options:
      disableNameSuffixHash: true